
<!-- data = photos [''] -->

<div class="row gallery-photo__wrapper">
     {{#each photos}}
        <div class="col-xs-4 col-sm-2 gallery-photo">
            <img class="img-responsive" src="/assets/images/{{name}}" data-id="{{id}}">
        </div>
     {{/each}}   
</div>

