<!-- lightbox -->

<section id="lightboxHome" class="row lightbox">
    <div class="row lightbox__cancel-btn">
        <span class="col-sm-12 icon-delete-2"></span>
    </div>
    <div class="row lightbox__content-wrapper">
        <div class="col-sm-2 lightbox-control lightbox-control--left">
            <span class="icon-arrow-39"></span>
        </div>
        <div class="col-sm-8 lightbox-img">
            <img class="img-responsive" src="/assets/images/catgrooming.jpeg">
        </div>
        <div class="col-sm-2 lightbox-control lightbox-control--right">
            <span class="icon-arrow-40"></span>
        </div>
    </div>
</section>