// ** All things related to events and animations**//


// article in-view styles - to create a bounce effect in a ripple left to right
@keyframes articleBounce {
    0% {transform: translateY(20px); opacity: 0;}
    50% {transform: translateY(-10px); opacity: 1;}
    100% {transform: translateY(0px); opacity: 1;}
}

.article__container.in-view {

    article {
        position: relative;
        opacity: 0;
    }

    article:first-child {
        animation-name: articleBounce;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    article:nth-child(2) {
        animation-delay: 0.5s;
        animation-name: articleBounce;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    article:last-child {
        animation-delay: 1s;
        animation-name: articleBounce;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

}

