/*===========================
        MIXINS
=============================*/

// Font family 
@mixin tiText__font-family--base{
    h1, h2, h3, h4 {
        font-family: $font-family-heading;
    }

    p, li, a {
        font-family: $font-family-paragraph;
    }
}

// Font Colors
@mixin tiText__colors($sm-heading, $lg-heading, $paragraph){

    h1, h2 {
        color: $lg-heading;
    }

    h3, h4 {
        color: $sm-heading;
    }

    p, li {
        color: $paragraph;
    }

    a {
        color: $dark;
    }
}

//Font sizes
@mixin tiText__font-size($sm-heading, $lg-heading, $paragraph) {
    
    h1, h2 {
        font-size: $lg-heading;
    }

    h3, h4 {
        font-size: $sm-heading;
    }

    p, li, a {
        font-size: $paragraph;
    }
}


// Font-colors --separate
@mixin title-color($color){
    h1, h2, h3, h4 {
        color: $color;
    }
}

@mixin text-color($color){
    li, p {
        color: $color;
    }
}

// media queries
@mixin mediaQ--min($bp){
    @media (min-width: $bp) {
        @content
    }
};

// caroursel gradient 

@mixin gradient {

-webkit-box-shadow: inset 9px -200px 218px -51px rgba(255,255,255,1);
-moz-box-shadow: inset 9px -200px 218px -51px rgba(255,255,255,1);
box-shadow: inset 9px -200px 218px -51px rgba(255,255,255,1);


}

