// PrivateServices page

#privateServicesContent {


    .sm-screen-wrapper {

        @include mediaQ--min($bp-sm) {
            display: none;
        }

        .div-service {

            div, img {
                margin: $mp-sm 0;
            }

            a {
                font-size: $font-size-md;
            }

            span {
                 color: $primary-color;
                 font-size: $font-size-sm;
                 padding-left: $mp-sm;
            }

            p {
                display: inline-block;
            }

            p:first-child {
                padding-right: $mp-default;
                border-right: 2px solid $primary-color;
            }

            p:last-child {
                padding: 0 $mp-default;
            }
        }


    }

    .lg-screen-wrapper {
        display: none;

        @include mediaQ--min($bp-sm) {
            display: block;
        }
    }
}