<div>
    <section class="container">
        <div class="row">
            <p><a href="/services/privateServices">Back</a></p>
            <h3>Schedule Online</h3>
            <p>Schedule in Our Time Zone: GMT +02:00</p>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="calendar"></div>
            </div>
            <div class="col-sm-4 text-center">
                <h3>{{service.name}}</h3>
                <p>{{service.hours}} hr | ${{service.cost}}</p>
                <button class="btn btn-primary">Next</button>
            </div>
        </div>
    </section>

</div>