<div>
    <section>
        <div class="parallax parallax--contact"></div>
    </section>

    <section class="container text-center">
        <div class="row">
            <h2>Get in Touch</h2>
            <p>Tel: 123-456-7890 • Email: info@mysite.com • Address: 500 Terry Francois St, San Francisco, CA 94158</p>
        </div>
        <div class="row">
            <form class="form-group col-sm-8 col-sm-offset-2">
                <input class="form-control" type="text" placeholder="Name">
                <input class="form-control" type="email" placeholder="Email">
                <input class="form-control" type="text" placeholder="Subject">
                <textarea class="form-control" type="text" placeholder="Message"></textarea>
                <button class="btn btn-primary pull-right">SEND</button>
            </form>
        </div>
    </section>

    <section class="container">
        <div class="row text-center">
            <h2>How to Get Here</h2>
            <p>500 Terry Francois St, San Francisco, CA 94158</p>
        </div>
        <img src="/assets/images/shopLocation.png" class="img-responsive">
    </section>

</div>