<div>

    <section>
        <a href="/services/privateServices"><span class="icon-arrow-39"></span>Back</a>
        <div>
            <p class="lead">Doggy Day Care</p>
            <div>
                <p>9 hr</p>
                <p>$30.00</p>
            </div>
            <div>
                Describe your service here. What makes it great? 
                Use short catchy text to tell people what you offer, 
                and the benefits they will receive. A great 
                description gets readers in the mood, and makes 
                them more likely to go ahead and book.
            </div>
            <a href="/services/privateServices/booking"  class="btn btn-primary article--btn">Book it</a>
        </div>
    </section>

</div>