<div class="detail-wrapper">
    <section class="section-tiText div--margin-bottom">
        <a href="/services/privateServices" class="detail-wrapper__link col-sm-12"><span class="icon-arrow-39"></span>Back</a>
        <div class="row detail-wrapper__service">
            <div class="col-sm-12">
                <p class="lead">{{service.name}}</p>
                <div class="div-service">
                    <p>{{service.hours}} hr</p>
                    <p>${{service.cost}}</p>
                </div>
                <div>
                    <p>{{service.textBlock}}</p>
                </div>
                <a href="/services/privateServices/booking"  class="btn btn-primary article--btn">Book it</a>
            </div>
        </div>
    </section>
</div>