<div id="home-wrapper">

    <section class="container-fluid"> 
        <!-- Carousel / section = with-text-larger -->
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/assets/images/dog-portrait.png" alt="dog on cushion">
                </div>
                <div class="item">
                    <img src="/assets/images/cat-portrait.png" alt="cat">
                </div>
                <div class="item">
                    <img src="/assets/images/dog-portrait2.png" alt="puppies">
                </div>
            </div>

            <div class="carousel-text__wrapper text-center">
                <h1>Caring for Your Furry Friends</h1>
                <p>I'm a title. Click here to add your own text and edit me.</p>
            </div>
        </div>
    </section>

    <section class="container">
        <!-- section with articles / section = with-text -->
        <div class="row section__title">
            <div class="jumbotron col-sm-12 text-center">
                <h2>We have everything your pet needs.</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
            </div>
        </div>
        <div class="row section__content">
            <article class="col-sm-4 text-center">
                <img src="/assets/images/icon1.png" alt="speech bubble">
                <h4>Our Story</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button>Read Morer >></button>
            </article>
            <article class="col-sm-4 text-center">
                <img src="/assets/images/icon2.png" alt="paw print">
                <h4>What We Do</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button>Read Morer >></button>
            </article>
            <article class="col-sm-4 text-center">
                <img src="/assets/images/icon3.png" alt="clock">
                <h4>Opening Hours!</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button>Read Morer >></button>
            </article>
        </div>
    </section>

    <section class="container-fluid">
        <!-- sm-img photo gallery -->
        <div class="jumbotron text-center">
            <p>[photo gallery]<p>
        </div>
    </section>

</div>