<div id="home-wrapper">

    <section id="section__home-carousel" class="tiText--invert"> 
        <!-- Carousel / section = with-text-larger -->
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item item-one active">
                    <img class="img-responsive" src="/assets/images/parrot-portrait.png" alt="dog on cushion">
                </div>
                <div class="item item-two">
                    <img class="img-responsive" src="/assets/images/cat-portrait2.png" alt="cat">
                </div>
                <div class="item item-three">
                    <img class="img-responsive" src="/assets/images/dog-portrait.png" alt="puppies">
                </div>
            </div>

            <div class="carousel-text__wrapper text-center">
                <h1>Caring for Your Furry Friends</h1>
                <p>I'm a title. Click here to add your own text and edit me.</p>
            </div>
        </div>
    </section>

    <section id="homeArticles" class="container section-tiText">
        <!-- section with articles / section = with-text -->
        <div class="row section__title">
            <div class="col-sm-12 text-center">
                <h2>We have everything your pet needs.</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
            </div>
        </div>
        <div class="row section__content article__container">
            <article class="col-sm-4 text-center article-spacing">
                <img class="img-responsive icon" src="/assets/images/icon1-invert.png" alt="speech bubble">
                <h4>Our Story</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/about" class="btn btn-primary article--btn">Read More >></a>
            </article>
            <article class="col-sm-4 text-center">
                <img class="img-responsive icon" src="/assets/images/icon2-invert.png" alt="paw print">
                <h4>What We Do</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/services" class="btn btn-primary">Read More >></a>
            </article>
            <article class="col-sm-4 text-center">
                <img class="img-responsive icon" src="/assets/images/icon3-invert.png" alt="clock">
                <h4>Opening Hours!</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/contact" class="btn btn-primary">Read More >></a>
            </article>
        </div>
    </section>

    <section id="homeGallery" class="container-fluid">
        <!-- sm-img photo gallery -->
        <div class="jumbotron text-center">
            <p>[photo gallery]<p>
        </div>
    </section>

</div>