<div>
    <section class="container">
        <div class="row text-center">
            <h3>Our Private Services</h3>
        </div>
        <div class="row text-center">
            <ul class="nav nav-tabs col-sm-4 col-sm-offset-4 row">
                <li class="active col-sm-6"><a data-toggle="tab" href="#hotelService">Hotel</a></li>
                <li class="col-sm-6"><a data-toggle="tab" href="#groomingService">Grooming</a></li>
            </ul>
        </div>
    </section>

    <section class="container tab-content">
        <div id="hotelService" class="tab-pane in active">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/assets/images/sleepydog.jpeg">
                </div>
                <div class="col-sm-6 text-center">
                    <h3>Doggy Day Care</h3>
                    <p>9hr | $30.00</p>
                    <button class="btn btn-primary"><a href="/booking">Book it</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/assets/images/kittenonbed.jpeg">
                </div>
                <div class="col-sm-6 text-center">
                    <h3>Over Night Stay</h3>
                    <p>24hr | $70.00</p>
                    <button class="btn btn-primary"><a href="/booking">Book it</a></button>
                </div>
            </div>
        </div>
        <div id="groomingService" class="tab-pane">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/assets/images/kittenonbed.jpeg">
                </div>
                <div class="col-sm-6 text-center">
                    <h3>Hair Cut</h3>
                    <p>1hr | $20.00</p>
                    <button class="btn btn-primary"><a href="/booking">Book it</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="/assets/images/sleepydog.jpeg">
                </div>
                <div class="col-sm-6 text-center">
                    <h3>Wash and Groom</h3>
                    <p>2hr | $40.00</p>
                    <button class="btn btn-primary"><a href="/booking">Book it</a></button>
                </div>
            </div>
        </div>
    </section>

</div>