<div class="section-wrapper">
    <section>
        <div class="parallax parallax--services"></div>
    </section>

    <section id="servicesArticles" class="container text-center section-tiText">
        <div class="row">
            <h2>We Love Our Animals and What We Do!</h2>
            <p>I'm a paragraph. Click here to add your own text and edit me. 
                It’s easy. Just click “Edit Text” or double
                click me to add your own content and make changes to the font.
            </p>
        </div>
        <div class="row article__container">
            <article class="col-sm-4">
                <img class="img-responsive icon" src="/assets/images/icon4-invert.png">
                <h4>Grooming</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/services/grooming" class="btn btn-primary">Read More >></a>
            </article>
            <article class="col-sm-4">
                <img class="img-responsive icon" src="/assets/images/icon5-invert.png">
                <h4>Accessories</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/services/petaccess" class="btn btn-primary">Read More >></a>
            </article>
            <article class="col-sm-4">
                <img class="img-responsive icon" src="/assets/images/icon6-invert.png">
                <h4>Pet Hotel</h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <a href="/services/pethotel" class="btn btn-primary">Read More >></a>
            </article>
        </div>
    </section>


</div>