<div>
    <section class="container-fluid">
        <div class="parallax"></div>
    </section>

    <section class="container text-center">
        <div class="row jumbotron">
            <h3>We Love Our Animals and What We Do!</h3>
            <p>I'm a paragraph. Click here to add your own text and edit me. 
                It’s easy. Just click “Edit Text” or double
                click me to add your own content and make changes to the font.
            </p>
        </div>
        <div class="row">
            <article class="col-sm-4">
                <img src="/assets/images/icon4.png">
                <h4></h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button class="btn btn-primary"><a href="/services/grooming">READ MORE >></a></button>
            </article>
            <article class="col-sm-4">
                <img src="/assets/images/icon5.png">
                <h4></h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button class="btn btn-primary"><a href="/services/petaccess">READ MORE >></a></button>
            </article>
            <article class="col-sm-4">
                <img src="/assets/images/icon6.png">
                <h4></h4>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <button class="btn btn-primary"><a href="/services/pethotel">READ MORE >></a></button>
            </article>
        </div>
    </section>


</div>