
body {
    background-color: $light;
}

.container {
    @include mediaQ--min($bp-md){
        width: 900px;
    }
}

.dropdown-menu {
    @extend .dropdown-menu;

    text-align: center;
    width: 100%;
    display: inline-block;
}

// Global Text Styling
//----------------------------------//

section {
    @extend .tiText;
}

.tiText {
    @include tiText__font-family--base;
    @include tiText__colors(
        $primary-color, 
        $primary-color, 
        $dark);
    @include tiText__font-size(
        $font-size-xlg,
        $font-size-xxxlg,
        $font-size-base
    );
     
     p{line-height: 1.6;}
}

.tiText--invert {
    @include tiText__colors(
        $light,
        $light,
        $light
    )
}

.tiText--invert-bg { background: $primary-color; }

// Global image tag styling
//-----------------------------------------//

.icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    width: 30%;
    transition: background-color 0.25s;

        &:hover {
            background: $secondary-color;
        }
}

.icon--lg { width: 80%; }

// Global article inner el positioning
//-------------------------------------------//


article {

    img { margin: 0px 0px 30px 0px;}

    a { margin: 10px 0px;}

}

.article--portaits {
    padding: 0px 30px;

    img {
        margin: 0px;
        width: 100%;
    }

    figcaption {
            border-bottom-right-radius: 20px;
        padding: 15px;

        h4{ margin: 0px;}

        p{ margin: 0px;}
    }
}


#myApp .article__container{
    display: flex;
    align-items: baseline;
}

// Global section inner el margin & padding
//-------------------------------------------//

.section-wrapper {

   // & > section:first-child { padding: 60px 0px 0px 0px;}

     & > section:last-child { padding: 60px 0px 100px 0px;}
}

.section-tiText {
    padding: 60px 0px 60px 0px;

    & > div { margin: 0px 0px 45px 0px;}

    h2 { margin: 45px 0px 20px 0px;}

}

.section-tiText--footer {
    padding: 30px 0px 30px 0px;

    h2 { margin: 45px 0px 20px 0px; }

    & > img {margin: 0px 0px 60px 0px;}

}

.section-tab-content {

    .tab-pane{
        margin: 30px 0px 45px 0px;

        .row {
            margin-bottom: 15px;
            height: 280px;

            div {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

    }
}


#myApp .margin--lg { margin: 45px 0px 45px 0px; }

#myApp .padding-col--lg { padding: 0px 45px; }

