<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Roboto:300" rel="stylesheet">
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/lib/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet"/>
    <script src='/assets/lib/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/assets/lib/bower_components/moment/min/moment.min.js'></script>
    <script src='/assets/lib/bower_components/fullcalendar/dist/fullcalendar.js'></script>

    <title>New App</title>
</head>
<body>
    <header id="app__header" class="container tiText">
        <div class="row">
            <figure id="app__header__logo" class="col-sm-4 col-sm-offset-4">
                <img src="/assets/images/app-logo-invert.png" class="app-logo icon icon--lg">
                <figcaption class="logo__text">
                    <p class="text-center">PET STORE</p>
                </figcaption>
            </figure>
        </div>
        <div class="row">
            <nav id="app__header__nav" class="navbar navbar-default">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="/about">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Our Staff</a><li>
                        </ul>
                    </li>
                    <li>
                        <a href="/services">Our Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="/services/grooming">Grooming</a><li>
                            <li><a href="/services/petaccess">Pet accessories</a><li>
                            <li><a href="/services/pethotel">Pet Hotel</a><li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-fluid navbar navbar-fixed-top">
            <ul class="nav nav-pills nav-stacked navbar-right">
                <li><span class="icon-facebook"></span></li>
                <li><span class="icon-google-plus"></span></li>
                <li><span class="icon-twitter"></span></li>
                <li><span class="icon-share-alt"></span></li>
            </ul>
        </div> 
    </header>

    <main id="myApp">

    {{{body}}}


    </main>

    <footer id="app__footer">
        <section class="container section-tiText--footer tiText--invert">
            <div class="row">
                <div class="col-sm-6">
                    <p>2017 by Puurfect. Created by Ali</p>
                    <ul class="list-unstyled list-inline">
                        <li><span class="icon-facebook"></span></li>
                        <li><span class="icon-google-plus"></span></li>
                        <li><span class="icon-twitter"></span></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">
                    <p>123-456-7890 | 123-456-7890 <br />
                        info@mysite.com <br />
                        500 Terry Francois St, San Francisco, CA 94158
                    </p>
                </div>
            </div>
        </section>
    </footer>

    <script src="/assets/scripts/bootstrap.js"></script>
    <script src="/assets/scripts/main.js"></script>

</body>
</html>