<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css">

    <title>New App</title>
</head>
<body>

    {{{body}}}

    <script src="/assets/lib/bower_components/jquery/dist/jquery.js"></script>
    <script src="/assets/scripts/bootstrap.js"></script>
    <script src="/assets/scripts/main.js"></script>

</body>
</html>