<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Roboto:300" rel="stylesheet">
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/lib/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet"/>
    <script src='/assets/lib/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/assets/lib/bower_components/moment/min/moment.min.js'></script>
    <script src='/assets/lib/bower_components/fullcalendar/dist/fullcalendar.js'></script>
    

    <title>Paw Pals</title>
</head>
<body>
    <header id="app__header" class="container tiText">
        <div class="row">
            <figure id="app__header__logo" class="col-sm-4 col-sm-offset-4">
                <img src="/assets/images/app-logo2.png" class="app-logo icon icon--lg">
                <figcaption class="logo__text text-center">
                    <h2 class="logo__style">Paw Pals</h2>
                    <p class="text-center">PET STORE</p>
                </figcaption>
            </figure>
            <div class="burger-menu__wrapper visible-xs">
                <span class="icon-bars">
                    <!-- burger-menu to fixed full screen nav -->
                </span>
                <div class="sm-screen-nav display--none display--fade">
                    <nav class="row">
                        <ul class="list-unstyled">
                            <li class="active list-title"><a href="/">Home</a></li>
                            <li class="li-with-collapse">
                                <span class="icon-add-1" data-toggle="collapse" data-target="#about-dropdown-sm-screen"></span>
                                <a href="/about">About Us</a>
                                <ul id="about-dropdown-sm-screen" class="collapse list-unstyled">
                                    <li class="aboutArticles--scroll"><a href="/about#aboutArticles">Our Staff</a></li>
                                </ul>
                            </li>
                            <li class="li-with-collapse">
                                <span class="icon-add-1" data-toggle="collapse" data-target="#services-dropdown-sm-screen"></span>
                                <a href="/services">Our Services</a>
                                <ul id="services-dropdown-sm-screen" class="collapse list-unstyled">
                                    <li><a href="/services/grooming">Grooming</a></li>
                                    <li><a href="/services/petaccess">Pet accessories</a></li>
                                    <li><a href="/services/pethotel">Pet Hotel</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <nav id="app__header__nav" class="navbar navbar-default">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown" id="dropdown-inline-about">
                        <a href="/about">About Us</a>
                        <ul class="dropdown-menu">
                            <li class="aboutArticles--scroll"><a href="/about#aboutArticles">Our Staff</a><li>
                        </ul>
                    </li>
                    <li id="dropdown-inline-services">
                        <a href="/services">Our Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="/services/grooming">Grooming</a><li>
                            <li><a href="/services/petaccess">Pet accessories</a><li>
                            <li><a href="/services/pethotel">Pet Hotel</a><li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="aside-nav--fixed hidden-xs">
            <ul class="nav nav-pills nav-stacked navbar-right">
                <li><span class="icon-facebook"></span></li>
                <li><span class="icon-google-plus"></span></li>
                <li><span class="icon-twitter"></span></li>
                <li><span class="icon-share-alt"></span></li>
            </ul>
        </div> 
    </header>

    <main id="myApp">

    {{{body}}}


    </main>

    <footer id="app__footer">
        <section class="container section-tiText--footer tiText--invert">
            <div class="row footer-inner__div">
                <div class="col-sm-6">
                    <p>2017 by Puurfect. Created by Ali</p>
                    <ul class="list-unstyled list-inline">
                        <li><span class="icon-facebook"></span></li>
                        <li><span class="icon-google-plus"></span></li>
                        <li><span class="icon-twitter"></span></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">
                    <p>123-456-7890 | 123-456-7890 <br />
                        info@mysite.com <br />
                        500 Terry Francois St, San Francisco, CA 94158
                    </p>
                </div>
            </div>
        </section>
    </footer>

    <script src="/assets/scripts/bootstrap.js"></script>
    <script src="/assets/lib/bower_components/lodash/lodash.js"></script>
    <script src="/assets/scripts/main.js"></script>
    

</body>
</html>