// BUTTONS

//  bs-primary button

#myApp {

    .btn {
        border-radius: 0;
        padding: $mp-sm $mp-double;
        border: none;
        font-family: $font-family-paragraph;  

        &:active,
        &:focus,
        &:hover { 
            border: none;
            box-shadow: none;
        }

    }

    .btn-primary {
        background: $primary-color;
        border: none;

        &:hover {  
            @include colorMe(null, lighten(
                $primary-color, 10%
            ));
        }       
    }

    .btn-primary--small {
        padding: $mp-sm;
    }

    .section-tiText--btn {
        margin: $mp-triple 0px;

        @include mediaQ--max($bp-md) {
            margin: $mp-double 0px;
        }
    }
}