// BUTTONS

//  bs-primary button

#myApp {

    .btn-primary {
        background: $primary-color;
        border: none;
            
    }

    .btn {
        border-radius: 0;
        padding: $mp-sm $mp-double;
        border: none;
            border-bottom-right-radius: 20px;

        &:active,
        &:focus,
        &:hover { 
            border: none;
            box-shadow: none;
        }

    }

    .section-tiText--btn {
        margin: 60px 0px;
    }
}