/** Carousel **/

#myApp {

    .carousel-indicators{
        @include mediaQ--max($bp-xs){
            li{
                height: 20px;
                width: 20px;
                background: rgba($light, 0.5);
                margin: 0px 5px;
                border: 1px solid transparent;
            
                &.active {
                    background: $primary-color;
                }
            }
        }
    }    

    .carousel-inner {
        height: 25rem;

        @include mediaQ--min($bp-xs){
            height: 30rem;

            @include mediaQ--min($bp-sm){
                height: 500px;

                 @include mediaQ--min($bp-md){
                     height: 700px;
                 }
            }
        }
    }

    .item {
        height: 100%;

        img{
            max-width: 40%;
            position: absolute;
            bottom: 0px;

                @include mediaQ--max($bp-md){
                    max-width: 35%;
                    position: absolute;
                    bottom: 0px;
       
                        @include mediaQ--max($bp-sm){
                            max-width: 28%;

                            @include mediaQ--max($bp-sm){
                                max-width: 35%;
                    }
                }
            }
        }
    }

    .carousel-text__wrapper{
        @include tiText__font-family--base;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        max-width: 380px;
        color: $light;

            @include mediaQ--max($bp-md){
                top: 10%;

                @include mediaQ--max($bp-sm){
                    top: 5%;
                    max-width: 300px;

                    @include mediaQ--max($bp-xs){
                        width: 150px;
                    }
                }
            }

        h1{
            font-size: $font-size-xxlg;
            line-height: 1;

                @include mediaQ--min($bp-xs){
                    font-size: 40px;

                    @include mediaQ--min($bp-sm) {
                        font-size: 56px;
                    
                        @include mediaQ--min($bp-md){
                            font-size: 72px;
                        }
                    }
                }
            }

            p {
                @include mediaQ--max($bp-xs){
                    display: none;
            }
        }
    }
}

.item-one {
    background: $secondary-color;
        
        @include mediaQ--min($bp-sm) {
            @include gradient;
    }
}

.item-two {
    background: $contrast-color;
        @include mediaQ--min($bp-sm) {
            @include gradient;
        }

        img {
            right: -45px;
            bottom: 0px;
    }
}

.item-three {
    background: $extra-color;
        @include mediaQ--min($bp-sm) {
            @include gradient;
        }

        @include mediaQ--max($bp-sm) {
            img {
                transform: scale(1.6);
                left: 8%;
        }
    }
}

//==== FADE CAROUSEL CODE ====//

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



