/** Carousel **/

#section__home-carousel {

    .carousel-inner {
        height: 700px;

            @include mediaQ--max($bp-sm){
                height: 30rem;
            }
    }

        .item {
            height: 100%;
            position: relative;
            
            
            

            img{
                max-width: 40%;
                position: absolute;
                bottom: 0px;
            }
        }


        .item-one {
            background: $secondary-color;
        
                @include mediaQ--min($bp-sm){
                    @include gradient;
                }
        }

        .item-two {
            background: $contrast-color;
                @include mediaQ--min($bp-sm){
                    @include gradient;
                }

                img{
                    max-width: 120%;
                    right: 0px;
                    bottom: 0px;
            }
        }

        .item-three {
            background: $extra-color;
                @include mediaQ--min($bp-sm){
                    @include gradient;
                }
        }


    .carousel-text__wrapper{
        @include tiText__font-family--base;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        max-width: 380px;
        color: $light;

            @include mediaQ--max($bp-sm){
                top: 5%;
            }

        h1{
            font-size: 72px;

             @include mediaQ--max($bp-sm){
                 font-size: 42px;
             }
        }
    }

    //==== FADE CAROUSEL CODE ====//

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0.5;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

}

