//** Photo gallery imgs *//

#myApp {

    .gallery-photo__wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-photo{
        padding: 0;
        transition: opacity 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }

}
