/** NAV styles */

#app__header__nav {
    @include text-color($primary-color);
        margin: 0px;
        border: none;
        min-height: 0;
        font-size: 14px;

        a {
            border: none;

            &:hover {
                color: $primary-color;
                transition: color 0.5s;
            }
        }
}