/** NAV styles */

#app__header__nav {
    @include text-color($primary-color);
        margin: 0px;
        border: none;
        min-height: 0;
        font-size: 14px;

        a {
            border: none;

            &:hover {
                color: $primary-color;
                transition: color 0.5s;
            }
        }
}

.sm-screen-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $primary-color;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
    
        li {
             padding: $mp-default 0;
             color: $light;
             letter-spacing: 1px;

                a {
                    color: $light;
                    padding: 0 $mp-sm;
                }
        }

        .li-with-collapse, .list-title { border-bottom: 1px solid $light }

        .active { @include text-color($extra-color) }

}

