/** APP HEADER */

#app__header {
    @include tiText__font-family--base;

    #app__header__logo {}

        .app-logo {
            max-width: 180px;
        }

        .logo__text{
            @include text-color($primary-color);
            font-weight: bold;
            font-size: $font-size-lg;
        }



}