/** ALL PAGE SECTIONS */

section {
    @extend .tiText;
}

.section-wrapper {

    @include mediaQ--max($bp-xs) {
        section {
            margin-bottom: 60px;
        }

        section:first-child, section:last-child {
            margin-bottom: 0px;
        }
    }
}

.section-tiText {
    //padding: 60px 0px 60px 0px;

        @include mediaQ--max($bp-md){
            padding: 0px $mp-double;
        }

        & > div { 
            margin: 0px 0px 45px 0px;
        }

        & > div:last-child {
            @include mediaQ--max($bp-sm){
                margin-bottom: 0;
            }
        }

        h2 { 
            text-transform: capitalize;
            margin: 45px 0px 20px 0px;

            @include mediaQ--max($bp-sm){
                font-size: $font-size-xlg;
                line-height: 1;
                margin: 30px 0px 30px 0px;
            }
        }

        p {
            @include mediaQ--max($bp-sm){
                line-height: 1.6;
        }
    }
}

.section-tiText--footer {
    padding: 30px 0px 30px 0px;

        @include mediaQ--max($bp-sm){
            padding: $mp-lg $mp-double;
        }

        h2 { 
            margin: 45px 0px 20px 0px; 
        }

        & > img {
            margin: 0px 0px 60px 0px;
    }
}

.section-tab-content {

    .tab-pane{
        margin: 30px 0px 45px 0px;

        .row {
            margin-bottom: 15px;
            height: 280px;

            div {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}